@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#events-page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

#main-title-container {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    /* padding: 0 1rem; */
    /* background-color: green; */
}

#main-title-container h2 {
    font-size: clamp(2rem, 3vw + 1rem, 3em);
    /* margin-left: 1rem; */
    /* margin-right: auto; */
    text-align: center;
}

#events-page-hero-container {
    display: flex;
    position: relative;
    height: 86.9vh;
    width: 100%;
    color: white;
    /* background-color: white;
    background-image: url('../../public/photos/events_page/event_page_hero.jpg');
    background-size: 100%;
    background-position-y: 50%; */
}

#events-page-hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#events-page-hero-container h1 {
    position: absolute;
    bottom: 0;
    left: 3%;
    margin-bottom: 0;
    /* font-size: 6em; */
    font-size: clamp(2rem, 10vw + 1rem, 6rem);
    /* align-self: flex-end;
    margin-left: .5em;
    margin-bottom: .2em; */
}

#events-page-hero-img {
    width: 100%;
    object-fit: cover;
}

.section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.section-img-container {
    height: 25rem;
    width: 25rem;
    /* width: clamp(10rem, 30vw + 1rem, 25rem); */
    overflow: hidden;
}

.section-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-text {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.section-text h3 {
    /* font-size: 3em; */
    font-size: clamp(1rem, 3vw + 1rem, 3em);
    margin: 0;
}

.section-text p {
    /* font-size: 1.7em; */
    font-size: clamp(1rem, .8vw + 1rem, 1.7rem);
    width: clamp(10rem, 50vw + 1rem, 25em);
    line-height: 1.5;
    margin-bottom: 0;
    /* max-height: 25rem; */
}

#gbm-img-container img {
    transform: scale(1.4);
    transform-origin: center;
}

#fundraiser-img-container img {
    transform: scale(1.2) translateX(2em);
    transform-origin: center;
}

#gbm-img-container,
#social-img-container {
    margin-left: clamp(1rem, 5%, 5.5rem);
    margin-right: 1em;
}

#fundraiser-img-container {
    margin-right: clamp(1rem, 5%, 5.5rem);
}

#gbm-img-text,
#social-img-text {
    margin-right: clamp(1rem, 5%, 5.5rem);
}

#fundraiser-text {
    margin-left: clamp(2rem, 5%, 5.5rem);
}

#outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
}

#outro p {
    /* font-size: 1.5em; */
    font-size: clamp(.5rem, 1vw + 1rem, 1.5rem);
    line-height: 1.5;
    max-width: 30em;
    text-align: center;
}

.view-gallery-button {
    position: relative;
    margin-bottom: 2em;
    padding: 1em 0;
    width: 10em;
    font-size: 1em;
    font-weight: bolder;
    background-color: rgb(229, 213, 149);
    color: black;
    border: none;
    border-radius: 2em;
    transition: background-color .25s ease;
}

.view-gallery-button a {
    position: absolute;
    height: 100%;
    width: 100%;
}

.view-gallery-button:hover {
    cursor: pointer;
    background-color: rgb(175, 163, 114);
}

.view-gallery-button:active {
    transform: scale(.95, .95);
}

/* MEDIA QUERIES */
@media(max-width:500px) {
    .section-img-container {
        display: none;
    }

    .section-text {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .section-text p {
        width: 100%;
    }

    .section {
        height: auto;
        margin-bottom: 3rem;
    }

    #gbm-section {
        margin-top: 1rem;
    }

    #social-section {
        margin-bottom: 1rem !important;
    }
}

/* @media(max-width:480px) {
    .section {
        height: auto;
        margin-top: 1rem;
    }
} */
