#logo-window-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4.65em;
    /* left: 44.15%; */
    height: 2em;
    width: 10em;
    background-color: white;
    border-radius: .5em;
    opacity: 0;
    pointer-events: none;
    z-index: 6;
}

#logo-window-container.visible {
    opacity: 1;
    pointer-events: auto;
}

#logo-window-container:hover {
    cursor: pointer;
    background-color: lightgray;
}

/* #logo-window-container::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 40%;
    top: -40%;
    transform: rotate(180deg);
    border-left: .9em solid transparent;
    border-right: .9em solid transparent;
    border-top: .9em solid white;
} */

#logo-window-container p {
    font-family: 'Roboto';
    font-size: 1.1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5em;
}